<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReporter"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>      
      <class name="com.qa.testcases.TC_01_Loginpage"/>
      <class name="com.qa.testcases.TC_02_Calendarpage"/>
      <class name="com.qa.testcases.TC_07_TasksPage"/>
      <class name="com.qa.testcases.TC_06_CompaniesPage"/>
      <class name="com.qa.testcases.TC_05_DealsPage"/>      
      <class name="com.qa.testcases.TC_08_DocumentsPage"/>
      <class name="com.qa.testcases.TC_04_ContactpageDDT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
